---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

jobs:
  # Temporarily using custom workflow to skip failing lint jobs
  # TODO: Re-enable reusable workflow once lint issues are fixed
  build:
    name: Build Docker Images
    runs-on: ubuntu-latest
    strategy:
      matrix:
        architecture:
          - amd64
          - aarch64
          - armv7
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./jackett
          file: ./jackett/Dockerfile
          push: false
          tags: test:${{ matrix.architecture }}
          platforms: linux/${{ matrix.architecture }}
          build-args: |
            BUILD_ARCH=${{ matrix.architecture }}
            BUILD_FROM=ghcr.io/hassio-addons/ubuntu-base/${{ matrix.architecture }}:6.2.1
